@model IEnumerable<BlogMVCApp.Models.TagModel>

<h3 class="sidebar-heading">Tag Cloud</h3>
<ul class="tagcloud">
    @foreach (var tag in Model)
    {
        <a href="#" class="tag-cloud-link">@tag.Name</a>
    }
</ul>